html { 
    box-sizing: border-box;
    background: skyblue;
    font-family: 'helvetica neue';
    font-size: 20px;
    font-weight: 200;
}

*, *:before, *:after{
    box-sizing:inherit;
}
.search-form{
    max-width: 300px;
    margin: 20px auto;
}
input.search{
    margin:0;
    text-align: center;
    outline: 0;
    border: 10px solid #F7F7F7;
    width: 120%;
    left: -10%;
    position: relative;
    top: 10px;
    border-radius: 5px;
    font-size: 30px;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.12), inset 0 0 2px rgba(0, 0, 0, 0.19);
}

.suggestions{
    margin:0;
    padding:0;
    position: relative;

}

.suggestions li{
    background:white;
    list-style:none;
    border-bottom: 0px solid #D8D8D8;
    margin:0;
    padding:10px;
    display:flex;
    justify-content: space-around;
    text-transform:capitalize;
}

.suggestions li:nth-child(even){
    border-radius: 5px gray;
    background: linear-gradient(to bottom, #ffffff 0%, #EFEFEF 100%)
}

span.population{
    font-size: 15px;
}

.hl{
    background: gray;
}