html{
    color:black;
    font-family: sans-serif;
}

body{
    margin:0;
}

.hero{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1{
    text-shadow: 10px 10px 0 rgb(255, 0, 0);
    font-size:100px;
    margin:0;
}