* {
  box-sizing: border-box;
}

body {
  margin: 0;
}

.main {
  width: 100vw;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: whitesmoke;
}

.search-form {
  width: 45%;
  margin-top: 10%;
}

.search-box {
  width: 100%;
  height: 2.5rem;
  font-size: 1.75rem;
  text-align: center;
}

.search-result {
  min-width: 40%;
  display: flex;
  justify-content: center;
}

.result-list {
  list-style: none;
  padding: 0 1rem;
}

.result-item {
  font-size: 1.3rem;
  display: flex;
  justify-content: space-between;
  padding: 0.25rem 0;
  border-bottom: 2px dotted cadetblue;
}

.result-name {
  margin-right: 0.75rem;
}

.hl {
  background-color: yellowgreen;
}

.no-result {
  margin-top: 2rem;
  font-size: 2rem;
}
