
html{
    font-size: 10px;
    background-color:lightskyblue;
}

body{
   margin : 0;
}

kbd{
    display:block;
    font-size:3rem;
}

.keys{
    display : flex;
    flex : 1;
    margin:200px;
    padding:200px;
    align-items: center;

}

.key{
    border:0.1rem solid black;
    border-radius:1rem;
    margin:1rem;
    padding:1rem;
    width:100px;
    font-size:1rem;
    text-align:center;
    color:white;
    background:rgba(0,0,0,0.4);
}

.playing{
    transform:scale(1.1);
    border: 0.1rem solid lightskyblue;
    box-shadow: 0 0 1rem white;
}


.sound{
    font-size:1rem;
    text-transform: uppercase;
    letter-spacing:.1rem;
    color:lightskyblue
}