.inputform {
  width: 100px;
} 

.inputval {
  float: left;
  width: 70px;
}

.savebtn {
  float: right;
  width: 20px;
}

#highlight {
  height: 40px;
  width: 100px;
  outline: none;
  border: none;
  margin: 10px;
  border-radius: 10px;
  background-color: rgb(0, 212, 212);
  color: white;
  font-size: 17px;
  font-weight: 600;
  text-shadow: 0px 0px 3px rgba(73, 57, 0, .8);
}

#highlight.current {
  width: 500px;
  box-shadow: 0 0 0 2px white,
              0 0 0 4px black;
}