body {
  min-height: 100vh;
  margin: 0; /* Important! */
  font-family: sans-serif;
  background:
    linear-gradient(45deg, hsla(340, 100%, 55%, 1) 0%, hsla(340, 100%, 55%, 0) 70%),
    linear-gradient(135deg, hsla(225, 95%, 50%, 1) 10%, hsla(225, 95%, 50%, 0) 80%),
    linear-gradient(225deg, hsla(140, 90%, 50%, 1) 10%, hsla(140, 90%, 50%, 0) 80%),
    linear-gradient(315deg, hsla(35, 95%, 55%, 1) 100%, hsla(35, 95%, 55%, 0) 70%);
}

.menu{
    list-style: none;
    display: flex;
    justify-content: center;
    margin:80px 0;
    padding:0;
}

.menu a{
    display : inline-block;
    margin:25px;
}

a{
    text-decoration: none;
    color:#222;
    background-color: rgba(0,0,0,0.05);
    border-radius: 20px;
    padding:5px;
}

.wrapper{
    max-width:600px;
    margin:0 auto;
    line-height:2;
}

.highlight{
    background-color: #fff;
    border-radius: 20px;
    position: absolute;
    z-index:-1;
    transition:all 0.2s; 
    top:0;
    left:0;
}