html {
  box-sizing: border-box;
  font-family: "Arial Rounded MT Bold", "Helvetica Rounded", Arial, sans-serif;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  /* padding: 2rem; */
  min-height: 100vh;
  background-color: #faaca8;
  background-image: linear-gradient(19deg, #faaca8 0%, #ddd6f3 100%);
}

nav {
  position: relative;
  perspective: 600px;
  margin-top: 1rem;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
  position: relative;
}

.cool > li {
  display: flex;
  justify-content: center;
  position: relative;
}

.cool > li > a {
  color: #fff;
  background-color: rgba(0, 0, 0, 0.2);
  text-decoration: none;
  font-size: 20px;
  padding: 10px 20px;
  margin: 20px;
  border-radius: 5px;
  display: inline-block;
}

.dropdown {
  opacity: 0;
  display: none;
  position: absolute;
  overflow: hidden;
  top: -20px;
  padding: 20px;
  border-radius: 2px;
  transform: translateY(80px);
  transition: all 0.5s;
  will-change: opacity;
}

.hover .dropdown {
  display: block;
}

.hover-active .dropdown {
  opacity: 1;
}

.dropdownBackground {
  background-color: #fff;
  width: 100px;
  height: 100px;
  border-radius: 5px;
  box-shadow: 0 50px 100px rgba(50, 50, 93, 0.1),
    0 15px 35px rgba(50, 50, 93, 0.15), 0 5px 15px rgba(0, 0, 0, 0.1);
  display: flex;
  justify-content: center;
  position: absolute;
  transition: all 0.3s, opacity 0.1s, transform 0.2s;
  transform-origin: 50% 0;
  opacity: 0;
}

.dropdownBackground.open {
  opacity: 1;
}

.arrow {
  position: absolute;
  width: 20px;
  height: 20px;
  display: block;
  background: #fff;
  transform: translateY(-50%) rotate(45deg);
}

.bio {
  min-width: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  line-height: 1.5;
  display: block;
}

.bio img {
  float: left;
  margin-right: 20px;
}

.courses {
  min-width: 300px;
}

.courses li {
  padding: 10px 0;
  display: block;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}

.dropdown a {
  text-decoration: none;
  color: #ee4d83;
}

a.button {
  background: black;
  display: block;
  padding: 10px;
  color: white;
  margin-bottom: 10px;
  border-radius: 5px;
}

/* Matches Twitter, TWITTER, twitter, tWitter, TWiTTeR... */
.button[href*="twitter"] {
  background: #019fe9;
}
.button[href*="facebook"] {
  background: #3b5998;
}
.button[href*="courses"] {
  background: #ffc600;
}
