html,
body {
  margin: 0;
  overflow: hidden;
}

.panels {
  display: flex;
  flex-direction: row;
  min-height: 100vh;
}

.panel {
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  flex: 1;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}

.panel.open {
  flex: 6;
  transition-duration: 0.7s;
}

.panel > p {
  color: #fff;
  font-size: 1.5rem;
  font-family: "Amatic SC", cursive;
  text-shadow: 0 0 4px rgba(0, 0, 0, 0.72), 0 0 14px rgba(0, 0, 0, 0.45);
}

.panel > p:nth-child(1) {
  transform: translateY(-300px);
}
.panel > p:nth-child(3) {
  transform: translateY(300%);
}

.open > p:nth-child(1),
.open > p:nth-child(3) {
  transform: translateY(0px);
  transition-duration: 0.3s;
}
.open > p:nth-child(2) {
  font-size: 2.5rem;
}

.panel1 {
  background-image: url(https://source.unsplash.com/gYl-UtwNg_I/1500x1500);
}
.panel2 {
  background-image: url(https://source.unsplash.com/rFKUFzjPYiQ/1500x1500);
}
.panel3 {
  background-image: url(https://images.unsplash.com/photo-1465188162913-8fb5709d6d57?ixlib=rb-0.3.5&q=80&fm=jpg&crop=faces&cs=tinysrgb&w=1500&h=1500&fit=crop&s=967e8a713a4e395260793fc8c802901d);
}
.panel4 {
  background-image: url(https://source.unsplash.com/ITjiVXcwVng/1500x1500);
}
.panel5 {
  background-image: url(https://source.unsplash.com/3MNzGlQM7qs/1500x1500);
}
